.action {
  display: flex;
  margin-bottom: 0.5em;
  .button {
    margin: 0 0.5em 0 0;
  }
  &:last-child {
    // margin-bottom: 0;
  }
}

.action_details {
  .title {
    display: block;
  }
  .cost {
    margin-right: 0.5em;
  }
  .upkeep {
    color: $info;
  }
}
