.button {
    font-weight: 300;
    background-color: white;
    background-image: linear-gradient(white, darken(white, 7%));
    min-height: 50px;
    color: black;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    transition: all 0.15s ease-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: $border_radius;
    border: 1px solid lighten($blue, 25%);
    box-shadow: 0 1px 2px rgba(black, 0.25);
    font-size: 1em;
    position: relative;
    .cost {
        text-align: left;
        border-right: 1px solid rgb(35, 5, 45);
        padding-right: 1em;
        margin-right: calc(1em - 1px);
        min-width: 100px;
        display: inline-block;
        font-size: 0.8em;
        opacity: 0.75;
        color: $green;
        &.cannot-afford {
            color: $red;
        }
    }
    .level {
        border-radius: 25px;
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #555;
        font-size: 0.65em;
        margin-left: 1em;
    }
    &:disabled {
        background-image: none;
        opacity: 0.5;
        pointer-events: none;
        border-color: $gray;
        &:hover {
            box-shadow: none;
        }
        .tip-toggle {
            pointer-events: all;
        }
    }
    &:hover {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
        &:before {
            transform: scale(1.2);
        }
    }
    &:active {
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
        // background-color: #999;
        // color: white;
    }
    &:before {
        transition: all 0.15s ease-out;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        content: '';
        display: block;
        margin-right: 1em;
        img {
            max-width: 100%;
        }
    }
}

.button-small {
  // flex-basis: 24%;
  flex-basis: calc(25% - 0.5em);
}

.button-icon-only {
  padding: 0.5em;
  // margin: 0;
  display: inline-block;
  width: auto;
  min-height: auto;
  &:before {
    display: none;
    margin: 0;
  }
}

@import "tri_button";
@import "button_groups";
