* {
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    user-select: none;
    font-size: 0.85em;
    background-color: darken($white, 2);
    transition: background-color 3s ease-out;
    &.spring {
      background-color: $spring;
    }
    &.summer {
      background-color: $summer;
    }
    &.fall {
      background-color: $fall;
    }
    &.winter {
      background-color: $winter;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0.15em 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0.5em;
  position: relative;
}
