.game-details {
  margin-bottom: 0.5em;
    .detail {
        margin-bottom: 0.5em;
        display: flex;
        align-items: center;
        .value {
            margin-left: 0.25em;
        }
    }
}
